/* frontend/src/pages/About.css */
.About {
    padding: 20px;
    text-align: center;
  }
  
  .About h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .About p {
    font-size: 1.2em;
  }
  